/* body section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

} 

body, html {
    height: 100%;
    box-sizing: border-box;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    transition: 0.5s;
    background:  #39FF14;
    padding: 2px 5px;
    letter-spacing: 2px;
}

@media screen and (max-width: 400px) {
    .logo {
      width: 100%;
    }
  }

header .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



header .toggle:before {
    content: "Menu";
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 5px;
    background:  #39FF14;
    color: #111;

}

header .toggle.active {
    background: url(/images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 25px;
}

header .toggle.active:before {
    content: "Close";
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 10;
    box-shadow: 10px 015px rgba(0,0,0,0.1);
    transition: 1s;
}
section.active .glass {
    width: 100%;
    backdrop-filter: blur(20px);
    transition-delay: 0s;
    

}

section .content {
    position: relative;
    z-index: 1 !important;
    text-align: center;
    transition: 0.5s;
    transition-delay: 1s;
    top: 40%;
 
}

section.active .content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition-delay: 0s;
} 
section .content h2 {
    position: relative;
    color: white;
    font-size: 10vw;
    line-height: 0.55em;
    text-shadow: 0 5px 5px  #39FF14;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    text-align: center;
}

section .content h2 span {
    font-size:0.2em ;
    font-weight: 300;
    letter-spacing: 5px;
    background:  #39FF14;
    color: #111;
    padding: 0 10px;
    text-shadow: 0 5px 5px rgba(0,0,0,0);
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    text-align: center;
    text-transform: uppercase;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    display: fixed;
    flex-direction: column;
    overflow: hidden;
    object-fit: cover;
}

section .row {
    position: relative;
    top:-85%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}

i {
    color: lightgrey;
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;


}
i:hover {
    transition: 0s;
    color:  #39FF14;
    text-shadow: 0 0 120px  #39FF14;
}

section .row div {

    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

section .row:nth-child(even) div {

    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

section .social {
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 100;
}
section .social li {
    list-style: none;
    margin: 5px;
    padding: 0 6px;
    background:  #39FF14;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i));

}

section.active .social li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}

section .social li a {
    color: #111;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

section .nav {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    margin-left: 35%;

}

section .nav li {
    list-style: none;
    text-align: center;
    margin: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(200px);
    transition-delay: calc(0.2s * var(--i));
}

section.active .nav li {
    opacity: 1;
    visibility: visible;
    transform: translateX(200px);
}

section .nav li a {
    color: #111;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    background:#fff;
    padding: 4px 10px;
    display: inline-block;
}

section .nav li a:hover {

    color:  #39FF14;
    letter-spacing: 10px;
    text-transform: lowercase;
}

@media only screen and (max-width:660px) {
    section.active .nav li {
        position: relative;
        right: 140px;
    }


}
.topButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px !important; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #39FF14;
    background-image: url(/images/arrow-up-solid.svg);
    background-position: center;
    background-repeat: no-repeat; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 8px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }


  
 .topButton:hover {
    background-color: white; /* Add a dark-grey background on hover */
    background-image: url(/images/arrow-up-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

.aboutMe p {
    max-width: 600px;
    padding-top: 30px;
    padding-bottom: 50px;
}


.aboutMe {
    margin: 0 auto;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    height: 100%;
    align-items: center;
    background-image: url(/images/Untitled\ design.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    
}

.profilePic {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
}

.profilePic img {
    border-radius: 50%;
    width: 90%;
    border: 10px solid;
    border-color:  #39FF14;
    
}

.bio-container {
    grid-column: 6/12;
}

.panel {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

.panel-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 15px;
}

.panel-subheading {
    margin: 0;
    font-size: 15px;
    color: #39FF14;
}

.panel button {
    display: button;
    margin: 0 auto;
    border: none;
    padding: 10px 24px;
    color: white;
    background-color: black;
    border: 8px;
}

@media only screen and (max-width:660px) {
    .profilePic {
        display:none;
    }

    .bio-container {
        grid-column: 1 / span 12;
    }
}


.projectContainer {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px,auto);
    grid-auto-flow: dense;
    gap: 10px;
    background: black;
    background-image: url(/images/Background\ projects.svg);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.projectContainer .box {
    background: white;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: black;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: #39FF14;
}

.projectContainer .box:hover {
    background: #39FF14 !important;
} 

.projectContainer .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.projectContainer .box:nth-child(1){
    grid-column: span 1;
    grid-row: span 2;
}

.projectContainer .moreContent {
    opacity: 0;
    display: none;
    font-size: 40px;
    top: 0;
    left: 0;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }

  .projectContainer .moreContent:hover {
    opacity: 1;
    display: block;
  }
  .box .moreContent .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .box .moreContent:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
  }


@media (max-width: 991px){
    .projectContainer {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto,auto);
   
    }
    .projectContainer .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}






.skillsContainer {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px,auto);
    grid-auto-flow: dense;
    gap: 10px;
    background: black;
    background-image: url(/images/background\ skills.svg);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.skillsContainer .box {
    background: white;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: black;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: #39FF14;
}

.skillsContainer .box:hover {
    background: #39FF14;
} 

.skillsContainer .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.skillsContainer .box:nth-child(1){
    grid-column: span 1;
    grid-row: span 2;
}


@media (max-width: 991px){
    .skillsContainer {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto,auto);
   
    }
    .skillsContainer .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}

.contain {
    max-width: auto;
    height: auto;
    padding: 1em;
    background: #000;
  }
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  input:focus,
  textarea:focus {
    outline: 3px solid #39FF14;
  }
  
  input {
    width: 100%;
    border: 1px solid #000;
  }
  textarea {
    width: 100%;
    border: 1px solid #000;
  }
  button .sendButton {
    width: 100%;
    border: 1px solid #000;
  }
  
  .wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
  }
  .wrapper > * {
    padding: 1em;
  }
  @media (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .wrapper > * {
      padding: 2em 2em;
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .contacts {
    background: #39FF14;
    color: #fff;
  }

  .contacts li {
      padding-bottom: 10px;
    list-style: none;
    background:  #39FF14;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i));
  }

  .contacts li a {
    padding: 8px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .form {
    background: black;
    color: white;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  form label {
    display: block;
  }
  form p {
    margin: 0;
  }
  
  .full-width {
    grid-column: 1 / 3;
  }
  
.sendButton{
    padding: 1em;
  }
  
  input {
    padding: 1em;
  }
  
  textarea{
    padding: 1em;
  }
  
  button  .sendButton{
    background: white;
    width: 100%;
    border: 0;
    color: #000;
  }
  button:hover, button:focus {
    background: #39FF14;
    outline: 0;
  }