<section id="projects" class="section" #projects>
<div class="row">

      <h1 class="heading-with-underline gradient-line">Projects</h1>

  </div>

<div class="container-fluid">
  <div class="row mt-5 g-2 d-flex justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card rgbborder-container " style="width: 70%;">
        <img class="card-img-top" src="../../assets/Consume random API.jpg" alt="Consume github API">
        <div class="card-body">
          <h5 class="card-title">Consume github API</h5>
          <p class="card-text">The project should return a list or array of pull requests on the repo such that the PRs were created, updated, merged or closed between the given two dates.</p>
          <a href="https://github.com/Keane-Small/Keane-Small-consume-github-api-javascript" class="btn" target="_blanks">Github Repo</a>
        </div>
      </div>
    </div>  
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card rgbborder-container" style="width: 70%;">
        <img class="card-img-top" src="../../assets/Semitone difference basic algorithm javascript.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Semitone difference basic algorithm javascript (With UI)
          </h5>
          <p class="card-text">A program that outputs two notes from the note circle and then allows the user to enter a number. The program needs to be able to tell the user if they chose the correct number or not.</p>
          <a href="https://github.com/Keane-Small/Keane-Small-semitone-difference-basic-algorithm-javascript" class="btn" target="_blanks">Github Repo</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card rgbborder-container" style="width: 70%;">
        <img class="card-img-top" src="../../assets/Email random inspirational quote.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Email random inspirational quote javascript</h5>
          <p class="card-text">Wrote a program that sends a random inspirational quote to an email address.</p>
          <a href="https://github.com/Keane-Small/Keane-Small-email-random-inspirational-quote-javascript" class="btn" target="_blanks">Github Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-5 g-2 d-flex justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card rgbborder-container " style="width: 70%;">
        <img class="card-img-top" src="../../assets/Node and File IO.jpg" alt="Consume github API">
        <div class="card-body">
          <h5 class="card-title">Node And File IO</h5>
          <p class="card-text">create a backend service that will help capture basic information about prospective students who come to inquire here at an Organization. In this project, you’ll just be storing and retrieving information from plain old JSON files.</p>
          <a href="https://github.com/Keane-Small/Keane-Small-node-file-io-javascript" class="btn" target="_blanks">Github Repo</a>
        </div>
      </div>
    </div>  
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card rgbborder-container" style="width: 70%;">
        <img class="card-img-top" src="../../assets/Memory game.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Memory Game (With UI)
          </h5>
          <p class="card-text">A memory game with UI created with HTML, CSS and JS</p>
          <a href="https://github.com/Keane-Small/Keane-Small-Memory-Game-Vanillia-JS.git" class="btn" target="_blanks">Github Repo</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card rgbborder-container" style="width: 70%;">
        <img class="card-img-top" src="../../assets/Validate South african ID.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Validate South African ID
          </h5>
          <p class="card-text">A program that validates a South African ID</p>
          <a href="https://github.com/Keane-Small/Keane-Small-validate-SAID.git" class="btn" target="_blanks">Github Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>












